    <div class="container-fluid nav">
      <div class="row">
        <div class="col-xs-3 col-xs-offset-9 blog-link">
          <a class="btn btn-success btn-large" href="https://collegerecruitu.wordpress.com">Blog</a>
        </div>
      </div>
    </div>


    <div class="container logo">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">
          <%= image_tag("cru1.png", class: "img-responsive") %>
        </div>
      </div>
    </div>

      <div class="container header-text">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-2 col-md-8 col-md-offset-2">
            <h1 class="header-tagline">YOUR FUTURE STARTS HERE</h1>
          </div>
        </div>
      </div>

      <div class="container subheader-text">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="header-subtagline">We make choosing a college <span id="caption"></span><span id="cursor"></span></h2>
          </div>
          <div class="col-xs-12">
            <span id="swap"></span>
          </div>
        </div>
      </div>

      <div class="container cta">
        <div class="row cta-tagline">
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <h5 class="cta-text">Get on our VIP list and you'll receive exclusive access to College Recruit U before anyone else + lots opportunities to win free stuff + free guides that will help you prepare for college</h5>
          </div>
        </div>
        <form class="form-inline">
          <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4 centered">
              <a class="btn btn-success btn-large" href="https://collegerecruitu.wufoo.com/forms/z1uaa0vz0mk3rub/">Become a VIP & win an iPad Mini! It's 100% FREE!</a>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-xs-12">
            <h5 class="cta-text">College Recruit U is in development!  We hope to launch August 2015!  <a href="https://collegerecruitu.wordpress.com/">Check out our blog for more info.</a></h5>
          </div>
        </div>
      </div>

    <div class="container social">
      <div class="row">
        <div class="col-xs-4">
          <a href="https://www.twitter.com/collegerecruitu"><%= image_tag("Twitter.png", class: "img-responsive") %></a>
        </div>
        <div class="col-xs-4">
          <a href="https://www.facebook.com/pages/College-Recruit-U/388610184665297"><%= image_tag("Facebook.png", class: "img-responsive") %></a>
        </div>
        <div class="col-xs-4">
          <a href="https://instagram.com/collegerecruitu/"><%= image_tag("Instagram.png", class: "img-responsive") %></a>
        </div>
      </div>
    </div>

  <div class="bg-orange">
    <div class="container value-header">
      <div class="row text-center">
        <div class="col-xs-4 col-xs-offset-4 col-md-4">
          <span class="glyphicon glyphicon-user"></span>
        </div>
        <div class="col-xs-12">
          <h3 class="value-prop">See where your friends are considering</h3>
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-2 centered value-header">
          <h5 class="value-prop">College Recruit U lets you share colleges you're considering and why.  You'll know what colleges are popular at your school, and may even learn about a college that may be a perfect fit for you from your social network!</h5>
        </div>
        <div class="col-xs-4 col-xs-offset-4 col-md-4">
          <span class="glyphicon glyphicon-hourglass"></span>
        </div>
        <div class="col-xs-12">
          <h3 class="value-prop">Save time</h3>
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-2 centered  value-header">
          <h5 class="value-prop">Finding the right school shouldn't be overwhelming!  College Recruit U provides a simple to use layout that shows you just the key information about colleges.  You'll be amazed at how fun learning about colleges can be.</h5>
        </div>
        <div class="col-xs-4 col-xs-offset-4 col-md-4">
          <span class="glyphicon glyphicon-calendar"></span>
        </div>
        <div class="col-xs-12">
          <h3 class="value-prop">Never miss a deadline</h3>
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-2 centered  value-header">
          <h5 class="value-prop">Every time you login, College Recruit U will remind you how much time you have to apply as well as what is required for an application.  Let us be organized while you hang out with your friends. </h5>
        </div>
        <div class="col-xs-4 col-xs-offset-4 col-md-4">
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </div>
        <div class="col-xs-12">
          <h3 class="value-prop">Hear from real students</h3>
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-2 centered  value-header">
          <h5 class="value-prop">Ever wonder what a college is really going to be like?  College Recruit U shares real student's experiences and allows you to ask questions to current students and alumni too!</h5>
        </div>
        <div class="col-xs-4 col-xs-offset-4 col-md-4">
          <span class="glyphicon glyphicon-phone"></span>
        </div>
        <div class="col-xs-12">
          <h3 class="value-prop">....all from your phone</h3>
        </div>
      </div>
    </div>
  </div>

    <div class="container footer">
      <div class="col-xs-12 col-md-10 col-md-offset-2">
        <h3 class="value-prop">Have a question or comment?  We'd love to hear from you!</h3>
      </div>
      <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4 centered">
        <a class="btn btn-success btn-large" href="mailto: julie@collegerecruitu.com">Shoot us a note!</a>
      </div>
    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64241715-1', 'auto');
  ga('send', 'pageview');
  </script>
