{
  "private_key_id": "PRIVATE_KEY_ID",
  "private_key": "-----BEGIN PRIVATE KEY-----\nREDACTED\n-----END PRIVATE KEY-----\n",
  "client_email": "CLIENT_EMAIL@developer.gserviceaccount.com",
  "client_id": "CLIENT_ID.apps.googleusercontent.com",
  "type": "service_account"
}
