
<h1>Editing Student Profile</h1>

<%= render 'form' %>

<%= link_to 'Show', @student_profile %> |
<%= link_to 'Delete', student_profile_path, method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to 'Back', student_profiles_path %>
