<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="sub-text">Colleges</h3>
    </div>
  </div>

  <% @colleges.each_slice(4) do |college| %>
    <div class="row">
      <% @colleges.each do |college| %>
        <div class="col-md-3 col-xs-3">
          <%= link_to college.name, college %>
        </div>
      <% end %>
    </div>
  <% end %>
  <br />

  <%= link_to 'Browse Students', student_profiles_path, class: "btn btn-success btn-sm"%>
</div>
