<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="sub-text">Colleges</h3>
    </div>
  </div>
</div>

<% @colleges.each_slice(4) do |college| %>
<div class="row">
  <% @colleges.each do |college| %>
  <div class="col-md-4 col-xs-4">
    <%= link_to college.name, college %>
    <% end %>
  </div>
</div>
<% end %> <br />


<%= link_to 'Browse Students', student_profiles_path, class: "btn btn-success btn-sm"%>