div.colleges-index {
  img {
    height: 100px;
    width: 100px;
  }
  div.college {
    padding-top: 10px;
  }
}

div.college-show-students {
  img {
    height: 50px;
    width: 50px;
  }
}

div.centered {
  text-align: center;
}

@media (min-width: 768px) {
  img.essay-icon {
      height: 300px;
      width: 300px;
    }
  }