body {
  padding: 100px;
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #F8F8F8 !important;
}

a:visited {
  color: #316DC8 !important;
}

.flash_alert, .flash_error, .flash_notice {
  padding-top: 25px !important;
  font-family: 'Graduate', cursive;
  color: red;
}

.navbar-default .navbar-nav > li > a {
  color: #2F6189 !important;
  font-family: 'Graduate', cursive;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  padding-top: 20px;
}

.navbar-collapse.collapse.in {
  background-color: #F8F8F8 !important;
}

.navbar-default {
  background-color: #FFDE17 !important;
  border-color: #2F6189 !important;
  border-width: 0 0 3px !important;
}

.navbar-header {
  padding-bottom: 40px;
  text-align: center;
}

.small-screen-logo-text {
  color: #2F6189 !important;
  font-family: 'Graduate', cursive;
}

.small-logo {
  max-width: 100px;
  max-height: 100px;
  margin-top: -20px;  
}

.btn-info {
  background-color: #FFDE17 !important;
  font-family: 'Graduate', cursive;
}

.btn-success {
  background-color: white !important;
  border-width: 2px !important;
}

.btn-danger {
  background-color: white !important;
  border-width: 2px !important;
}

.btn-default {
  background-color: white !important;
  border-width: 2px !important; 
}

input.form-control.search-small {
  margin-top: 4px !important;
}

#notice {
  padding-top: 12px;
}

.search-small {
  margin-top: 4px !important;
  margin-right: 5px !important;
  margin-left: 15px !important;
}

.profile-header {
  text-align: center;
  font-family: 'Graduate', cursive;
  color: #2F6189;
}

.sub-text {
  text-align: center;
  font-family: 'Graduate', cursive;
  color: #2F6189;
}

.college-text {
  text-align: center;
  font-family: 'Graduate', cursive;
}

.hs-logo {
  text-align: center;
}

@media only screen and (max-width: 750px) {
  body {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 80px;
  }

  .navbar-header {
    padding-bottom: 15px;
  }

}
