body {
  padding: 100px;
  padding-top: 90px;
  padding-bottom: 40px;
  background-color: #EEEEEE !important;
}

html, body {
  overflow-x: hidden;
}

a:visited {
  color: #316DC8 !important;
}

a:hover {
  background-color: #FFBF0D !important;
}

.navbar-default .navbar-nav > li > a:hover:after {
  content: "";
  border-bottom: 2px solid #FFDE17 !important;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3px;  
}

form.navbar-form.navbar-right.hidden-xs.hidden-sm {
  padding-top: 30px !important;
}

.flash_alert, .flash_error, .flash_notice {
  padding-top: 25px !important;
  font-family: 'Graduate', cursive;
  color: red;
}

.navbar-default .navbar-nav > li > a {
  color: #045D91 !important;
  font-family: 'Graduate', cursive;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  padding-top: 20px;
}

.navbar-default .navbar-toggle {
  border-width: 2.5px;
}

.navbar-collapse.collapse.in {
  background-color: #F8F8F8 !important;
}

.navbar-default {
  background-color: #62B4E5 !important;
  border-color: #2F6189 !important;
  border-width: 0 0 3px !important;
}

.navbar-header {
  padding-bottom: 40px;
  text-align: center;
}

.small-screen-logo-text {
  color: #2F6189 !important;
  font-family: 'Graduate', cursive;
}

.small-logo {
  max-width: 100px;
  max-height: 100px;
  margin-top: -20px;  
}

.btn-info {
  background-color: #FFDE17 !important;
  font-family: 'Graduate', cursive;
  color: black !important;
}

.btn-success {
  background-color: white !important;
  border-width: 2px !important;
  color: black !important;
}

.btn-danger {
  background-color: white !important;
  border-width: 2px !important;
  color: black !important;
}

.btn-default {
  background-color: white !important;
  border-width: 2px !important; 
  color: black !important;
}

input.form-control.search-small {
  margin-top: 4px !important;
}

#notice {
  padding-top: 12px;
}

.search-small {
  margin-top: 4px !important;
  margin-right: 5px !important;
  margin-left: 15px !important;
}

.profile-header {
  text-align: center;
  font-family: 'Graduate', cursive;
  color: #2F6189;
}

.home-header {
  margin-top: 25px;
}

.sub-text {
  text-align: center;
  font-family: 'Graduate', cursive;
  color: #2F6189;
}

.yellow-text {
  text-align: center;
  font-family: 'Graduate', cursive;
  color: #2F6189;
}

.boxed-text {
  border: 3px solid #FFDE17;
  background-color: #62B4E5;
  border-radius: 25px;
}

.college-text {
  text-align: center;
  font-family: 'Graduate', cursive;
}

.small-txt {
  font-family: 'Graduate', cursive;
}

.hs-logo {
  text-align: center;
}

@media only screen and (max-width: 750px) {
  body {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 80px;
  }

  .navbar-header {
    padding-bottom: 15px;
  }

}

/* LANDING PAGE */

.logo {
  padding-top: 75px;
  padding-bottom: 50px;
}

.blog-link {
  padding-top: 5px;
}

/* FORM */

#email {
  margin-bottom: 5px;
}

.nav {
  padding-top: 15px;
}

.header-tagline {
  font-size: 24px;
  font-style: bold;
  color: #2F6189;
  text-align: center;
  font-family: 'Graduate', cursive;
}

.header-subtagline {
  font-size: 24px;
  color: #2F6189;
  font-family: 'Graduate', cursive;
}

.header-text {
  padding-bottom: 15px;
}

.subheader-text {
  padding-bottom: 15px;
}

.cta-tagline {
  margin-bottom: 5px;
}

.cta {
  padding-bottom: 15px;
}

.cta-text {
  color: #2F6189;
  text-align: center;
  font-family: 'Graduate', cursive;
}

.arrow-text {
  color: #2F6189;
  text-align: center;
}

.social {
  padding-top: 50px;
  margin-bottom: 70px;
}

.glyphicon {
  font-size: 50px;
  text-align: center;
}

.value-header {
  color: white;
  padding-top: 5px;
}

.footer {
  padding-bottom: 25px;
}

.value-prop { 
  font-family: 'Graduate', cursive;
}

a.btn.btn-success.btn-large {
  color: black !important;
}

.bg-blue {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background-color: #62B4E5;
}

.bg-yellow {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background-color: #FFDE17;
}

@media (min-width: 768px) {

  .header-subtagline {
    text-align: center;
  }

  .header-tagline {
    text-align: center;
  }

  .centered {
    text-align: center;
  }

  .header-text {
    text-align: center;
  }


}
